@import "./mixins";
@media (min-width: 800px) {
  .donate {
    display: grid;
    grid-template-columns: 3fr 2fr;
    &-image {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .about {
    @include centerItems;
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      & > div {
        margin: 1rem 3rem;
      }
    }
  }

  .contact {
    text-align: left;
    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 1000px) {
  .mission {
    width: 50% !important;
    &-quote {
      span {
        font-size: 2.1rem !important;
        font-weight: 900;
      }
    }
  }
}

@media (max-width: 1000px) {
  .contact {
    text-align: left;
    &-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
