@mixin centerItems() {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@mixin setBackgroundImages($url) {
  background: url($url);
  background-size: cover;
  background-position: center;
  background-position: no-repeat;
}
