@import "../../sass/variables";
@import "../../sass/mixins";
.footer {
  background-color: $footer-black;
  color: $white;
  padding: 0.2rem 0.3rem;
  margin: -1rem 0;
  &-grid {
    @include centerItems;
    p,
    ul {
      margin: 0.3rem;
    }
    p span {
      color: $primary;
    }
  }
}

.footer-grid ul a {
  margin: 0.4rem 0.7rem;
  color: $white;
}
