@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/utils";

.content {
  background: url("../../images/unicef.jpg");
  background-size: cover;
  background-position: center;
  background-position: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: $white;

  height: 25rem;

  h1 {
    margin: -3rem 0 0 0 0;
    letter-spacing: 0.2rem;
    font-weight: bolder;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #f4f4f4;
  }

  p {
    margin: 0.4rem;
    padding: 0.4rem;
  }

  &-button {
    display: flex;

    & > button {
      margin: 0.7rem 0.9rem;
    }
  }
}

@media (min-width: 1000px) {
  .content {
    h1 {
      font-size: 3rem;
    }
  }
}
